*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: rgb(224, 80, 80);
}

button{
    padding: 0.5rem;
    border-radius: 10px;
    background-color: white;
    font-weight: 600;
}
.container{
    background-color: white;
    width: 30%;
    min-width: 15rem;
    margin: 0 auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 0.8rem;
}
.tasks-lables{
    margin: 1rem 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.all-tasks-lable{
    margin-left: 1.5rem;
    font-size: 1.5rem;
    font-weight: 500;
}
.remain-tasks-lable{
    margin-right: 1.9rem;
    font-weight: 400;
}

.tasks{
    margin-top: 1rem;
    margin-left: 1rem;
    font-size: 1.3rem;
}
.task{
    margin-top: 1rem;
    display: flex;
    justify-content: space-between;
    margin-right: 1rem;
}

.add-tasks{
    margin-top: 1rem;
    margin-bottom: 1rem;
    margin-left: 1rem;
    display: flex;
    justify-content: space-between;

}
.add-task{
    padding: 0.5rem;
    border-radius: 0.6rem;

}
.add-task-btn{
    margin-right: 1rem;
    width: 3.7rem;

}

