*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: rgb(224, 80, 80);
}

button{
    padding: 0.5rem;
    border-radius: 10px;
    background-color: white;
    font-weight: 600;
    cursor: pointer;
    height: 2rem;
}
.tasks-container{
    background-color: white;
    width: 32%;
    min-width: 18rem;
    margin: 0 auto;
    margin-top: 10rem;
    border-radius: 0.8rem;
}
.tasks-lables{
    padding-top: 2rem;
    padding-bottom: 0.8rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.all-tasks-lable{
    margin-left: 1.5rem;
    font-size: 1.5rem;
    font-weight: 500;
}
.remain-tasks-lable{
    margin-right: 1.9rem;
    font-weight: 400;
}

.tasks{
    margin-top: 1rem;
    margin-left: 1rem;
    font-size: 1.1rem;
}
.task{
    margin-top: 1rem;
    font-size: 1.3rem;
    display: flex;
    justify-content: space-between;
    margin-right: 1rem;
}
label{
    cursor: pointer;
    margin-left: 0.6rem;

}

.add-tasks{
    margin-top: 1rem;
    padding-bottom: 2rem;
    margin-left: 1rem;
    display: flex;
    justify-content: space-between;

}
.task-input{
    padding: 0.5rem;
    width: 70%;
    border-radius: 0.6rem;
    font-size: 1.2rem;
    font-weight: 300;


}
.add-task-btn{
    margin-right: 1rem;
    width: 3.7rem;
    height: 2.5rem;

}

.quotes{
    margin: 3rem auto;
    width: 70%;
    min-width: 18rem;
    color: rgb(255, 255, 255);
    font-size: 1.5rem;
    text-align: center;
}

.author{
    font-size: 1.2rem;
    font-weight: 300;
    margin-top: 0.7rem;
}
.socials{
    margin-top: 1.3rem;
    text-align: center;
}
.socials img{
    width: 45px;
    height: 45px;
    border-radius: 50px;
}
.socials a {
    text-decoration: none;
    margin-left: 0.8rem;
    display: inline-block;
    margin-left: -0.2rem;
}